<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- link to our vuejs file -->
    <script src="asset/vue.global.js"></script>
    <!-- link to our css -->
    <link rel="stylesheet" href="asset/style.css">
</head>
<body>
    <!-- a div container that the vue app well mount on it -->
    <div id="container">
        <!-- a paragraph tag to dsipaley the posion label of the cell that are clicked at -->
        <p class="clickedCell">{{label}}</p>
        <!-- a div container to display the board -->
        <div id="board">
            <!-- a div that are loop rhougth the columns a create on column once -->
            <div v-for="c in cols">
                <!-- a div that are loop rhougth the rows a create on row cpletlet 8 rows -->
                <div class="col" v-for="r in rows">
                    <!-- a div for the black cell in the board -->
                    <div v-if="(c.index+r.index)%2==1" class="square-white" v-bind:style="{'background-color':player_one_color}" v-on:click = "diplayLabel(c.letter,r.index)">
                        <!-- a span for displaying for rows label -->
                        <span   v-if="c.index==displayIn" v-bind:style="{'color':player_two_color}">
                            {{r.index}}
                        </span>
                        <!-- a span for displaing the columns letter -->
                        <span v-if="r.index==displayIn" class=" b" v-bind:style="{'color':player_two_color}">
                            {{c.letter}}
                        </span>
                    </div>
                    <!-- a div for the white cell in the board -->
                    <div v-if="(c.index+r.index)%2==0" class="square-black" v-bind:style="{'background-color':player_two_color}" v-on:click = "diplayLabel(c.letter,r.index)">
                        <!-- a span for displaying for rows label -->
                        <span v-if="c.index== displayIn"  v-bind:style="{'color':player_one_color}"> 
                            {{r.index}}
                        </span>
                        <!-- a span for displaing the columns letter -->
                        <span v-if="r.index==displayIn" class=" b" v-bind:style="{'color':player_one_color}">
                            {{c.letter}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- a div container for the control iput and button for the board -->
        <div id="control">
            <!-- a warp container -->
            <div class="center-div">
                <!-- a color picker input for changing the player one color -->
                <input type="color" v-on:change="changePlayerOnecolor()" class = "color playerOneColorPicker" value = "#ffffff">
                <!-- a button to reverse the beoearde label-->
                <input type="button" value="Flip board" id="btn" v-on:click="reverseboard()">
                <!-- a color picker input for changing the player two color -->
                <input type="color" v-on:change="changePlayerTwocolor()" class = "color playerTwoColorPicker" >
            </div>
    
        </div>
    </div>
<!-- caling back our vue js app -->
<script src="app.js"></script>
</body>
</html>